body {
  background-image: url(assets/DungeonMaster.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100%, 100%;
  font-family: 'Oswald';
  font-size: 14px;
  color: #036;
  padding-top: 300px;
}

  h1 {
  font-family: Arial,Comic Sans MS, sans-serif;
  font-size: 14px;
  font-weight: bold;
  }

.MainSource {
  padding-left: 35%;
}

.MainSource img {
  box-shadow: 0 0 44px whitesmoke;
}

#textbox { 
  width: 500px; 
  margin: 40px auto; 
  padding: 22px; 
  background: whitesmoke; 
  -moz-box-shadow: 0 0 44px rgb(88, 88, 254); 
  -webkit-box-shadow: 0 0 44px rgb(88, 88, 254); 
  box-shadow: 0 0 44px rgb(88, 88, 254); 
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

#theDungeonMaster {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-transform: capitalize
}